
html body{
    padding: 0; 
    margin: 0;
    overflow:hidden
}

main{
 width: inherit;
 height: 100vh;
 display: flex;
 flex-direction: row;
}
footer{
    width: 100%;
    height: 22px;
    background-color: #007ACC;
    position: absolute;
    bottom: 0;
}
#sidebar{
    flex: 22.5;
    height: 100%;
    background-color: #f3f3f3;
}
#sidebar-selector{
    float: left;
    height: 100%;
    width: 48px;
    background-color: #2c2c2c;
}
#content{
    flex: 77.5;
    height: 100%;
    background-color: #eeeeee;

}
#text-editor{
    width: 100%;
    height: 52%;
    background-color: #ffffff;
}
#terminal{
    width: 100%;
    height: 52%;
    background-color: #ffffff;
    box-shadow: 0px -1px 0px #e3e3e3;
}
#file-list{
    width: 100%;
    height: 32px;
    background-color: #f3f3f3;

}
#file-tree{
    width: 100%;
    height: 22px;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px #f1f1f1;
}
.file-list-item{
    height: inherit;
    width: 120px;
    float: left;
    border: none;
    background-color:#ececec;
}
