
html body{
    padding: 0; 
    margin: 0;
    overflow:hidden
}

main{
 width: inherit;
 height: 100vh;
 display: flex;
 flex-direction: row;
}
footer{
    width: 100%;
    height: 22px;
    background-color: #007ACC;
    position: absolute;
    bottom: 0;
}
#sidebar{
    flex: 22.5;
    height: 100%;
    background-color: #f3f3f3;
}
#sidebar-selector{
    float: left;
    height: 100%;
    width: 48px;
    background-color: #2c2c2c;
}
#content{
    flex: 77.5;
    height: 100%;
    background-color: #eeeeee;

}
#text-editor{
    width: 100%;
    height: 50%;
    background-color: #ffffff;
    
}
#terminal{
    width: 100%;
    height: 50%;
    background-color: #ffffff;
    box-shadow: 0px -1px 0px #e3e3e3;
}
#file-list{
    width: 100%;
    height: 32px;
    background-color: #f3f3f3;
    font-family: "Segoe UI", Arial, sans-serif;
}
#file-tree{
    width: 100%;
    height: 22px;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px #f1f1f1;
    font-family: "Segoe UI", Arial, sans-serif;
}
.file-list-item{
    height: inherit;
    width: auto;
    min-width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    border: none;
    background-color:#ececec;
}
#file-tree a{
    color: #b1b1b1 !important;
    font-size: 13px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #000
}
#file-tree a:hover{
    color: #424242;
}
.file-tree-links{
    margin-left: 15px;
}
#file1, #file2{
    color:#ae8e5b;
}
textarea {
    width: 100%;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    background-color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 38px;
    display: flex;
    align-items: center;
    font-family: system-ui,sans-serif;
    
  }
li {
    padding-left: 20px;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    
}
li a{
    color: #7F7F7F !important;
}